.forgot_password__link {
  margin-top: -20px;
  margin-bottom: 30px;
}

.inline__label .ant-form-item {
  align-items: unset;
}

.simple-modal-body {
  .ant-checkbox-wrapper {
    margin-bottom: 20px;
  }
}