.forgot_password__link {
  margin-top: -20px;
  margin-bottom: 30px;
}

form .input-field-container.inline__label .ant-form-item {
  align-items: flex-start !important;
}

.simple-modal-title p {
  font-size: 20px;
}

.simple-modal-body {
  .ant-checkbox-wrapper {
    margin-bottom: 20px;
  }
}