.form-checkbox {
  .ant-checkbox-inner {
    height: 18px;
    width: 18px;
    &:after {
      left: 5px;
      top: 1px;
      width: 6px;
      height: 11px;
    }
  }
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner,
  .ant-checkbox-input:focus+.ant-checkbox-inner {
    border-color: #cacaca;
    background-color: #fff;
  }
  .ant-checkbox-checked .ant-checkbox-inner,
  .ant-checkbox-indeterminate .ant-checkbox-inner {
    border-color: #cacaca;
    background-color: #fff;
  }
  .ant-checkbox-checked .ant-checkbox-inner:after {
    border-color: #3ac1c2;
  }
}
