.add-media {
  width: 100%;
  height: 213px;
  background: #f8f8fa;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  margin-bottom: 10px;
  overflow: hidden;
  .file {
    &-container {
      margin: auto 0;
      position: relative;
      top: 33%;
    }
    &-icon {
      width: 43px;
      height: 32px;
      position: relative;
      display: inline-block;
      margin: 0;
      svg {
        stroke-width: 10px;
      }
    }
    &-plus {
      position: absolute;
      right: -10px;
      bottom: -10px;
      width: 28px;
      height: 28px;
      transition: all 0.3s;
      color: #ffffff;
      background: #16B7B9;
      border-radius: 50%;
      line-height: 24px;
      text-align: center;
      border: 2px solid transparent;
      font-size: 26px;
    }
    &-text {
      text-transform: uppercase;
      color: #b8b7b8;
      margin-top: 3px;
      margin-left: 30px;
      display: inline-block;
      position: relative;
      top: -10px;
    }
    &:hover &-plus {
      background: #15a9ab;
      border-color: #15a9ab;
    }
  }
}
